#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-9 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-a H1 {
  color: #faaf40;
  text-align: right;
}
#header1-a P {
  color: #faaf40;
  text-align: left;
}
#slider-b H1 {
  color: #ffffff;
  text-align: center;
}
#slider-b P {
  color: #ffffff;
  text-align: left;
}
#slider-b DIV {
  text-align: left;
  color: #000000;
}
#content1-g P {
  text-align: center;
}
#content5-o .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-o .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-o .mbr-article {
  color: #fff;
}
#ext_menu-n .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-n.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-n .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-n .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-q .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-q.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-q .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-q .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-u .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-u.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-u .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-u .mbr-navbar__hamburger {
  color: #ffffff;
}
#form1-v .mbr-header__text {
  color: #ffffff;
}
